body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.resume {
    display: flex;
    max-width: 900px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
    width: 60%;
    background-color: #fff;
    padding: 20px;
}

.right {
    width: 40%;
    background-color: #064486;
    color: #fff;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #064486;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.item {
    margin-bottom: 15px;
}

.item h3 {
    margin: 0;
    font-size: 18px;
    color: #064486;
}

.item p {
    margin: 5px 0;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile h1 {
    margin: 0;
    font-size: 24px;
}

.profile h2 {
    margin: 5px 0 20px;
    font-size: 18px;
    font-weight: normal;
}

.icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

/* New styles for Contact section */
.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info i {
    font-size: 20px;
    margin-right: 10px;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
    color: #ddd;
}

/* Additional styles for LinkedIn */
.contact-info.linkedin i {
    color:white;
}
